<!-- Template for video page -->

<div class="row">
  <h1 class="span12 page-title">{{PageTitle}}</h1>
</div>

<div class="row">
  <video id="videoPlayer" class="span7 video-js vjs-default-skin" controls preload="auto" width="512" height="288" poster="../media/images/posters/{{Videos.0.Image}}">
    <source src="../media/video/{{Videos.0.File}}" type='video/mp4'>
  </video>
  <div class="span5 summary">
    <p class="lead">{{Videos.0.Summary}}</p>
  </div>
</div>

<div class="row" id="video-options">
  {{#each Videos}}
    <div class="span3" id="video-{{@index}}" data-video-source="{{File}}">
      <img src="../media/images/posters/{{Image}}" alt="{{Name}}" class="img-rounded">    
      <h4>{{Name}}</h4>
    </div>
    <div class="hidden" id="summary-{{@index}}">{{Summary}}</div>
  {{/each}}
</div>
